examples/code/command-line-parsing/basic_md5_with_flags/basic_md5_with_flags.sh diff

duniverse/** linguist-vendored
**/pygments/** linguist-generated
**/embed_out.c linguist-generated

**/colour-blind.sty linguist-vendored
**/EngD.cls linguist-vendored

/static/js/** linguist-vendored
/static/css/** linguist-vendored
/static/js/app.js -linguist-vendored
/static/css/app.css -linguist-vendored

*.inc linguist-language=None
*.ml linguist-language=OCaml
*.mli linguist-language=OCaml
